@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  color: #000 !important;
    align-items: center;
    margin: auto;
    justify-content: center;
    display: flex
;
    background-color: #fff;
    background-image: linear-gradient(#bebebe 1px, transparent 1px), linear-gradient(to right, #d3d3d3 1px, #fff 1px);
    background-size: 30px 30px;
    -webkit-user-select: none;
    /* user-select: none; */
} ::-webkit-scrollbar{
    display: none;
  }

  header img{
    height: 7rem;
  }

 .news-sub{
  backdrop-filter: blur(5px);
  
  text-align: center;
  font-size: large;
 } 
.card {
    min-height: 13.6rem !important; 
    /* max-height: 13.61rem !important;  */
    min-width: 21rem;
    max-width: 21rem;
    margin-left: 1rem;
    border-width: 1px;
    border-radius: 1rem;
    min-height: 12rem;
    padding: 1rem;
    background: #ffffff40;
    box-shadow: 0 8px 32px #1f26875e;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18);
}
.header {
  display: flex;
  align-items: center;
  /* grid-gap: 1rem; */
  /* gap: 1rem; */
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
/* 
background: 
    linear-gradient(135deg, #fac21f, #ff7b05),
    linear-gradient(225deg, #ff7b05, #fac21f);
  background-size: cover;
  background-blend-mode: overlay; */
 /* background: 
    linear-gradient(135deg, #fac21f 25%, transparent 25%),
    linear-gradient(45deg, #ff7b05 25%, transparent 25%),
    linear-gradient(135deg, transparent 75%, #fac21f 75%),
    linear-gradient(45deg, transparent 75%, #ff7b05 75%); */
  }
.icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  /* background-color: rgb(255, 219, 99); */
  padding: 0.5rem;
  color: rgba(255, 255, 255, 1);
}

.icon svg {
  height: 1rem;
  width: 1rem;
}

.alert {
  font-weight: 600;
  color: rgb(96, 93, 93);
  /* font-size: large; */
}

.message {
  margin: 0rem;
  color: rgb(69, 67, 67);
}
.message-2{
  margin: .5rem;
}

.actions {
  /* margin-top: 1.5rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.actions a {
  text-decoration: none;
}
.date_loc{
  padding-left: 0.6rem;
  /* font-weight: 400; */
}
.date_loc a{
  text-decoration: none;
  color: rgb(69, 67, 67);
}
.actions div{
  width: 40%;
  margin: auto;
}
.Share{
  margin-left: 0% !important;
}
.mark-as-read, .read {
  display: inline-block;
  border-radius: 0.5rem;
  width: 80%;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  /* margin: 2rem; */
}

/* .read {
  background-color: rgba(59, 130, 246, 1);
  color: rgba(255, 255, 255, 1);
} */

.mark-as-read {
  margin-top: 0.5rem;
  background-color:  rgb(230, 231, 233);
  /* background-color: rgba(249, 250, 251, 1); */
  color: rgb(0, 0, 0);
  transition: all .15s ease;
}

.mark-as-read:hover {
  background-color: #fe9431;
}
.Share:hover{
  background-color: #fac21f;
}

.card-nexus-logo{
  /* backdrop-filter: blur(20px); */
  height: 10rem;
  /* justify-content: center; */
  /* align-items: center; */
  /* align-items: center; */
  /* display: flex; */
  /* position: fixed; */
  /* bottom: 0; */
  z-index: -1;
  /* margin: auto; */
  opacity: .2;
  /* width: fit-content; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%; /* Center horizontally */
  transform: translate(-50%, 0); /* Offset by half of the element's width */
  margin: auto; /* Center vertically using top and bottom */
}
.card-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% !important;
}
.container-wrap{
  display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.admin-form{
  border-width: 1px;
  border-radius: 1rem;
  padding: 1rem;
  width: 50%;
  background:rgba(255,255,255,0.25);
box-shadow: 0 8px 32px 0 rgba(31,38, 135, 0.37);
backdrop-filter: blur(30px);
:-webkit-backdrop-filter:blur(30px);
border-radius: 10px;
border: 1px solid rgba(255,255,255,0.18);
}
.logo-caption{
  background: linear-gradient(to right, #ffbf00, #ff7b05);
    background-size: 200% 200%; /* Make gradients larger */
  color: transparent; /* Make text transparent */
  background-clip: text; /* Clip background to the text */
  -webkit-background-clip: text; /* Safari compatibility */
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin: -1rem;
  animation: marble-flow 4s infinite alternate;
/* background-color: #ffffff; */
/* -webkit-text-stroke: 1px #000000; Outer border color */
/* text-stroke: 2px #ff7b05;  */
/* text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); */
}
@keyframes marble-flow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
.socials{
  width: auto;
  height: max-content;
  position: fixed;
  background: linear-gradient(to right, #ffbf00, #ff7b05);

  z-index: 4;
  right: 0;
  top:30vh;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: .5rem;
  padding: .5rem;
}
.socials:hover{
  box-shadow:0 0 30px #fac21f;
  /* animation-name: bee; */
  transition: ease-in-out .2s;
  /* animation-duration: 2s; */
  /* display: block; */

}
.socials img:hover{
  transform: scale(1.2);
  transition: ease-in-out .2s;
}

.n_bee{
  height: 1.5rem;
}

.socials .n_bee{
  /* display: none; */
/* opacity: 0; */
}

@keyframes bee{
  from{
    transform: translateX(-100deg);
  }
  to{
   transform: translateX(100deg);
  }
}
.cars-display{
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  column-gap: 3rem;
  /* width: 80%; */
}
.p1{
  height: 3rem;
  position: absolute;
  z-index: 1;
  top: -1;           
  right: 13%;          
}
.p3{
  height: 5rem;
  position: absolute;
  top: 20%;
 left: 8%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: center;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #ffbf00;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #ffbf00;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background: linear-gradient(50deg,#ff7b05,#fac31b, #ffbf00, #ff7b05);
  border: none;
  color: rgb(3, 3, 3);
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 10px;
  height: 3rem;
  width: 60%;
  cursor: pointer;
  font-family: monospace;

}
.button-submit:hover{
  box-shadow: 0 8px 22px 0 #e0934f;
  transition: all .2s ease;
}
.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}


.login-form{
  /* background:rgba(255,255,255,0.25); */
  box-shadow: 0 8px 32px 0 rgba(31,38, 135, 0.37);
  backdrop-filter: blur(30px);
  :-webkit-backdrop-filter:blur(30px);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.18);
  margin: 1rem 0 4rem 0;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}